* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  
  color: rgb(241, 239, 239);
  background: radial-gradient(rgb(0, 0, 0) 20%, rgb(19, 15, 15), rgb(27, 27, 27)) no-repeat;

  font-family: monospace;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 2rem;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  color: green;
  border-bottom: 2px solid green;
}

.wrapper {
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

